body {
    color: #1f1f1f ;
    font-family: 'Poppins', sans-serif;
}

#vhigh {
    float: left;
    position: relative;
    left: 20%;
    color: purple;
}

#timer {
    float: right;
    position: relative;
    right: 20%;
}

#mt {
    top: 10%;
    position: absolute;
    width: 100vw;
}