body {
    color: #1f1f1f ;
    font-family: 'Poppins', sans-serif;
}

#vhigh {
    float: left;
    position: relative;
    left: 20%;
    color: purple;
}

#timer {
    float: right;
    position: relative;
    right: 20%;
}

#mt {
    top: 10%;
    position: absolute;
    width: 100vw;
}

#msg {
    margin-top: 1rem;
}

.hide {
    display: none;
}

button {
    background: purple;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
}

button:hover {
    background: rgb(68, 5, 68);
    cursor: pointer;
}

#content {
    text-align: center;
    padding-top: 1rem;
}

#c {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10%;
}

li {
    text-align: left;
    list-style: none;
    border-radius: 8px;
    background: purple;
    color: #fff;
    font-weight: 500;
    margin-top: .6rem;
    padding: 0 1rem;
    width: fit-content;
}

li:hover {
    background: rgb(68, 5, 68);
    cursor: pointer;
}

input {
    margin-right: 1rem;
}

#msg {
    text-align: center;
}

#msg.success,
#msg.error {
  visibility: visible;
}

#msg.success {
  color: #136816;
}

#msg.error {
  color: #72070a;
}